<form class="form-inline mb-5">

    <div class="form-group col-3">
        <label for="city">Location:</label>
        <input
          [(ngModel)]="city"
          name="city"
          class="form-control mt-3"
          id="city"
          placeholder="City, Country(2 chars)"
          type="text"
          required
        />
    </div>

    <button id="search-button" class="btn-search btn btn-primary mt-3" type="submit" (click)="search()">Search</button>

    <button id="sort-button" class="btn-search btn btn-secondary mt-3 ml-3" type="submit" (click)="sort()">Sort ASC/DESC</button>

</form>
